body {
  background-color: #141414;
  color: #808080;
  overflow: hidden;
}

#table {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #141414;
  color: #808080;
  overflow: hidden;
}