/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/ui/pagesUI/HealthUI.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
body {
  background-color: #141414;
  color: #808080;
  overflow: hidden;
}

