header { 
  z-index: 9999;
  /* 3 cols equally space out for profile, title, menu */
  grid-column: 2 / 3;
  cursor: pointer;
}
#sidebar { 
  z-index: 9998;
}

#zeus{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center !important;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-white);
  text-shadow: 0 0 1px var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}