@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* global.css */

html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* global.css */
body {
  background-color: #141414;
  color: #808080;
  overflow: hidden;
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 1.0, 0, 0.1);
  
}

h1, h2 {
  color: #00ffff;
  margin-bottom: 10px;
}
label {
  display: block;
  color: #ffb7c5;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

a {
  color: #ffb7c5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 0;
    margin: 0;
  }
  
}