/* @import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
 */

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

* {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	color: #fab700;
}
.loginPage p {
	color: '#DAA520';
}

.auth-1 {
	/* This is first half of background */
	background-color: #161414;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
}

/* First 1/2 of lightmode background color */
.auth-2 {
	background-color: #a6b6c9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.darkMode {
	font-size: 70px;
	text-shadow: 2px 2px 5px black;
	/* padding-bottom: 25px;
    padding-top: 25px; */
	text-align: center;
	background-color: #2c3639; /* #2C3639 */
	color: #4ecca3; /* 22A39F 68B984 4E9F3D 346751 29C7AC 03C4A1 */
	margin: none;
}
.lightMode {
	font-size: 70px;
	text-shadow: 2px 2px 5px black;
	/* padding-bottom: 25px;
    padding-top: 25px; */
	text-align: center;
	background-color: #968c83;
	color: #eeeeee; /* F7DAD9  DBCBBD */
	margin: none;
}
.dash-dark {
	height: 100vh;
	background-color: #0a090c;
	width: 100%;
}
.dash-light {
	height: 100vh;
	background-color: #fff5ea;
	width: 100%;
}
.iframe-dark {
	height: 100vh;
	background-color: #3f4e4f;
	width: 100%;
}
.iframe-light {
	height: 100vh;
	background-color: #fff5ea;
	width: 100%;
}
link1 {
	border-radius: 10px;
	background-color: #2c3639;
	color: floralwhite;
	cursor: pointer;
	width: 100px;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
}
link2 {
	border-radius: 10px;
	background-color: #dcd7c9;
	color: black;
	cursor: pointer;
	width: 100px;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
}
.login-box {
	padding-top: 25px;
}
.login1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	font-weight: 500;
	box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-color: #0a090c;
	color: floralwhite;
	margin-top: -900px;
}
.login1 > input {
	height: 35px;
	/* width: 200px; */
	width: 300px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
/* Light Mode Login Box */
.login2 > input {
	height: 35px;
	/* width: 200px; */
	width: 300px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

/* Light Mode Login Box */
.login2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
	padding: 10px;
	border-radius: 5px;
	font-weight: 500;
	box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	background-color: #f4f5f5;
	color: floralwhite;
	margin-top: -900px;
}
/* Dark Mode Login Box */
#login-button1 {
	border-radius: 5px;
	background-color: #3f4e4f;
	color: #dcd7c9;
	cursor: pointer;
	width: 100px;
	height: 25px;
	margin: 10px 5px;
	font-size: 16px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/* Dark Mode Login Box */
#login-button1:focus {
	outline: none;
}
/* Dark Mode Login Box */
#login-button1:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/* Light Mode Login Box */
#login-button2 {
	border-radius: 5px;
	background-color: #dcd7c9;
	color: black; /* can chnage button text color here */
	cursor: pointer;
	width: 100px;
	height: 25px;
	margin: 10px 5px;
	font-size: 16px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
/* Light Mode Login Box */
#login-button2:focus {
	outline: none;
}
/* Light Mode Login Box */
#login-button2:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/* Logo */
#logo {
	font-family: 'Nabla', cursive;
	font-size: 120px;
	background: none;
}
#log-dark {
	height: 100vh;
	/* This is second half of background */
	background-color: #161414;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: none;
}

/* 2nd 1/2 Light mode backgound color */
#log-light {
	height: 100vh;
	background-color: #a6b6c9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: none;
}
/* Nav bar dark mode */
#navbar1 {
	height: 200px;
	background-color: #0a090c;
	color: #2c3639;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* Nav bar light mode */
#navbar2 {
	height: 200px;
	background-color: #344966;
	color: #968c83;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-links {
	width: 225px;
	margin-right: 50px;
	display: flex;
	justify-content: space-between;
}
.navlink-butt1 {
	background-color: #3f4e4f;
	color: floralwhite;
	height: 25px;
	width: 100px;
	border-radius: 5px;
}
.navlink-butt2 {
	background-color: #d6d2c4;
	color: black;
	height: 25px;
	width: 100px;
	border-radius: 5px;
}
#signInDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;
	height: 45px;
	/* width: 204px; */
	font-family: 'Source Sans Pro, sans-serif';
	border-radius: 5px;
}
.user1 {
	color: floralwhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 210px;
	font-size: 18px;
	text-shadow: 2px 2px 5px black;
}
.user2 {
	color: floralwhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 210px;
	font-size: 18px;
	text-shadow: 2px 2px 5px black;
}
#vis-dark {
	height: 100vh;
	background-color: #161414;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 250px 250px 250px 250px;
	grid-gap: 10px;
	position: absolute;
	color: white;
}
#vis-light {
	height: 100vh;
	background-color: #a6b6c9;
	background-image: none !important;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 250px 250px 250px 250px;
	grid-gap: 10px;
	position: absolute;
	color: black;
}
.pod-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
#pod0,
#pod1,
#pod2,
#pod3,
#pod4,
#pod5,
#pod6,
#pod7,
#pod8,
#pod9,
#pod10,
#pod11,
#pod12 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 8px;
	text-align: center;
}
img {
	background: none;
}
