@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

* {
    font-family: 'GFS Didot', serif;
    margin: 0;
    padding: 0;
}
.auth-1 {
    background-color: #3F4E4F;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.auth-2 {
    background-color: #FFF5EA;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.darkMode {
    font-size: 70px;
    text-shadow: 2px 2px 5px black;
    /* padding-bottom: 25px;
    padding-top: 25px; */
    text-align: center;
    background-color: #2C3639; /* #2C3639 */
    color: #4ECCA3; /* 22A39F 68B984 4E9F3D 346751 29C7AC 03C4A1 */
    margin: none;
}
.lightMode {
    font-size: 70px;
    text-shadow: 2px 2px 5px black;
    /* padding-bottom: 25px;
    padding-top: 25px; */
    text-align: center;
    background-color: #968C83; /* */
    color: #EEEEEE; /* F7DAD9  DBCBBD */
    margin: none;
}
.dash-dark{
    height: 100vh;
    background-color:#3F4E4F;
    width: 100%;
}
.dash-light{
    height: 100vh;
    background-color:#FFF5EA;
    width: 100%;
}
.iframe-dark{
    height: 100vh;
    background-color:#3F4E4F;
    width: 100%;
}
.iframe-light{
    height: 100vh;
    background-color:#FFF5EA;
    width: 100%;
}
link1 {
    border-radius: 10px;
    background-color:#2C3639;
    color: floralwhite;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
link2 {
    border-radius: 10px;
    background-color:#DCD7C9;
    color: black;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.login-box{
    padding-top: 25px;
}
.login1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    border: 1px solid black;
    background-color:#2C3639;
    color: floralwhite;
    margin-top: -900px;
}
.login1 > input {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.login2 > input {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.login2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:300px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    border: 1px solid black;
    background-color: #968C83;
    color: floralwhite;
    margin-top: -900px;
}
#login-button1 {
    border-radius: 5px;
    background-color:#3F4E4F;
    color: #DCD7C9;
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin: 10px 5px;
    font-size: 16px;
    border: 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#login-button1:focus{
    outline: none;
}
#login-button1:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
#login-button2 {
    border-radius: 5px;
    background-color: #DCD7C9;
    color: black; /* can chnage button text color here */
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin: 10px 5px;
    font-size: 16px;
    border: 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#login-button2:focus{
    outline: none;
}
#login-button2:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
#logo {
    font-family: 'GFS Didot', serif;
    font-size: 50px;
}
#log-dark {
    height: 100vh;
    background-color: #3F4E4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: none;
}
#log-light {
    height: 100vh;
    background-color: #FFF5EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: none;
}
#navbar1 {
    height: 150px;
    background-color: #2C3639;
    color: #2C3639;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar2 {
    height: 150px;
    background-color: #968C83;
    color: #968C83;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    width: 225px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.navlink-butt1{
    background-color: #3F4E4F;
    color: floralwhite;
    height: 25px;
    width: 100px;
    border-radius: 5px;
}
.navlink-butt2{
    background-color: #D6D2C4;
    color: black;
    height: 25px;
    width: 100px;
    border-radius: 5px;
}
#signInDiv{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #B3FFAE;
    height: 45px;
    width: 204px;
    font-family: "Source Sans Pro, sans-serif";
    border-radius: 5px;
}
.user1 {
    color: floralwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    font-size: 18px;
    text-shadow: 2px 2px 5px black;
}
.user2 {
    color: floralwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    font-size: 18px;
    text-shadow: 2px 2px 5px black;
}
.vis-dark{
    height: 100vh;
    background-color:#3F4E4F;
    width: 100%;
}
.vis-light{
    height: 100vh;
    background-color:#FFF5EA;
    width: 100%;
}