/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/ui/navigation/SidebarFeatures/Sidebar.style.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
#sidebar {
  z-index: 1000 !important;
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 1.0, 0, 0.1);
  border-radius: 10px;
}

iframe {
  z-index: 9999;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/components/ui/pagesUI/HomeUI.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
body { 
  grid-column: auto;
}
#home-dash{
  z-index: 1;
  /* position: absolute; */
}
#grafana-dash{
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 55%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 1.0, 0, 0.1);
  overflow: hidden;
}
