#grafana-dash{
  /* z-index: 2; */
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 55%;
  /* border-radius: 10px; */
  border-style: outset;
  /* gradient shadowing */
  box-shadow: #ffffbf 0px 0px 5px 5px;
  overflow: hidden;
}
